{% extends 'base.html' %}

{% block title %}Student List{% endblock %}

{% block content %}
<h1 class="my-4">List of Students</h1>
<form method="get" action="" class="mb-4">
    <div class="input-group">
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search by first name">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>
                <a href="{% url 'update_student' student.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete_student' student.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
